<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    ~for item in items:
    <li>
        <a href="library/~item.libraryId~/item/~item.id~">~item.name~</a>
        <span>type: ~item.type~</span>
        ~if item.hasMetadata:
        <span>metadata: ~item.metadata~</span>
        :~
        ~if item.hasPatronId:
        <span>patron id: ~item.patronId~</span>
        :~
        ~if item.hasLibraryId:
        <span>library id: ~item.libraryId~</span>
        :~
        ~if item.hasDueDate:
        <span>due date: ~item.dueDate~</span>
        :else:
        <span>checked in</span>
        :~
    </li>
    :else:
    <li>
        no items in database
    </li>
    :~
</ul>
</body>
</html>